<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <context:annotation-config/>
    <context:component-scan base-package="ru.incretio.juja.sqlcmd"/>

    <bean id="model" class="ru.incretio.juja.sqlcmd.model.Model" scope="prototype">
        <property name="queryable" ref="postgreSQLQuery"/>
    </bean>

    <bean id="userActionDao" class="ru.incretio.juja.sqlcmd.model.UserActionsDAOImpl">
        <property name="dataSource" ref="logDataSource"/>
    </bean>

    <bean id="logDataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="${log.jdbc.driverClassName}"/>
        <property name="url" value="${log.jdbc.url}"/>
        <property name="username" value="${log.jdbc.username}"/>
        <property name="password" value="${log.jdbc.password}"/>
    </bean>

    <context:property-placeholder location="log.jdbc.properties"/>


</beans>