<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <context:annotation-config/>
    <context:component-scan base-package="ru.incretio.juja.sqlcmd"/>

    <bean id="serviceFactory" class="ru.incretio.juja.sqlcmd.service.ServiceFactory">
        <lookup-method name="makeService" bean="serviceImpl"/>
    </bean>

    <bean id="serviceImpl" class="ru.incretio.juja.sqlcmd.service.ServiceImpl" scope="prototype">
        <property name="model" ref="model"/>
    </bean>

    <bean id="model" class="ru.incretio.juja.sqlcmd.model.Model" scope="prototype">
        <property name="queryable" ref="postgreSQLQuery"/>
    </bean>

    <bean id="postgreSQLQuery" class="ru.incretio.juja.sqlcmd.model.query.PostgreSQLQuery"/>

</beans>